.Cart {
    width: 500px;
    height: auto;
    padding: 1rem;
    border: 0.1px rgba(255, 255, 255,0.3) solid;
    border-radius: 13px;
    background-color: rgba(45, 133, 106,0.9);
    position: absolute;
    top: 70px;
    right: 10px;
    z-index: 1;
}

.Template-cart {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px rgba(255, 255, 255,0.3) solid;
}


.Template-cart__img {
    width: 35%;
    border-radius: 13px;
}

.Template-cart__info {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.Template-cart__name {
    font-size: 15px;
    margin-bottom: 0.5rem;
    color: rgb(255, 255, 255);
}

.Template-cart__delete {
    width: 50px;
    height: 50px;
    margin-left: 2.5rem;
    background-color: rgb(40, 87, 209);
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.Template-cart__amount {
    margin: 0 0.5rem 0 4rem;
}


.Template-cart__delete:hover {
    color: rgb(196, 196, 196);
    background-color: rgb(14, 63, 189);
    cursor: pointer;   
}

.Template-cart__total {
    padding: 1rem 3.5rem;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.Cart-wid__container {
    width: 100%;
    max-height: 450px;
    overflow: scroll;
}

.Cart-wid__container::-webkit-scrollbar {
    display: none;
  }

.Template-cart__button {
    width: 100px;
    height: 50px;
    background-color: rgb(40, 87, 209);
    margin: 2rem auto;
    border-radius: 10px;
    transition: 0.5s;
}

.Template-cart__button:hover {
    background-color: rgb(14, 63, 189);
    cursor: pointer;
}

.Template-cart__button a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}