.Index-section {
    display: grid;
    grid-template-columns: 3.1fr 0.75fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: 
    'Main-games Recommended-games';
    padding: 1.6rem 0.8rem;
    height: 100vh;
    overflow: scroll;
}

.Index-section::-webkit-scrollbar {
    display: none;
  }

.Recommended-games {grid-area: Recommended-games;}

.Main-games {grid-area: Main-games;}