.Card-game{
    margin: 5rem auto;
    width: 270px;
    color: rgb(255,255,255);
}

.Card-game a {
    text-decoration: none;
    color: rgb(255,255,255);
}

.Card-game__img {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 0.8rem;
}

.Card-game__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.Card-game__box {
    display: flex;
    justify-content: space-between;
    color: rgb(255,255,255);
}

.Card-game__info {
    display:block;
    height: 50px;
}



.Card-game__cart {
    width: 100px;
    height: 50px;
    display: flex;
}

.Card-game__price , .Card-game__buttom {
    width: 50px;
    background-color: rgb(40, 87, 209);
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.Card-game__price {
    background-color: transparent;
}

.Card-game__buttom:hover {
    color: rgb(196, 196, 196);
    background-color: rgb(14, 63, 189);
    cursor: pointer;   
}